.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px; 
}


a:visited {
    color: blue;
}

.nav-menu a {
    text-decoration: none;
}

.header-style {
  padding: 2px 20px; 
  background-color: #fafafa;
}
